@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* first, so base, components, utilities can use it */
/* @import './theme/index.css';
@import './base/index.css';
@import './components/index.css';
@import './utilities/index.css'; */


@layer base {
  h1 {
    font-size: var(--text-5xl);
  }

  h2 {
    font-size: var(--text-2xl);
  }
}

.expanded {
  display: unset;
}