---
import { AllPosts } from "src/content.config";
import BlogPost from "../BlogPost.astro";
import BaseLayoutV2 from "@layouts/BaseLayout-v2.astro";

export async function getStaticPaths() {
  const allPosts = AllPosts();

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---

<BaseLayoutV2 pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post: any) => {
        const data = { ...post, id: `../${post.id}` };
        return <BlogPost post={data} />;
      })
    }
  </ul>
</BaseLayoutV2>
