---
import { AllPosts } from "src/content.config";
import BlogPost from "../BlogPost.astro";
import BaseLayoutV2 from "@layouts/BaseLayout-v2.astro";

export async function getStaticPaths() {
  const allPosts = AllPosts();

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---

<BaseLayoutV2 pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post: any) => (
        <li>
          <BlogPost
          // https://example.site/astro-blog/tags/[name_tag]/
          // suy ra https://example.site/astro-blog/posts/.../
            url={`../../${post.id}`}
            title={post.title}
            pubDate={post.pubDate.toString().slice(0, 10)}
          />
        </li>
      ))
    }
  </ul>
</BaseLayoutV2>
