---
// Components
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "./BlogPost.astro";

// Styles
import "../styles/global.css";
import { AllPosts } from "src/content.config";
import { MyPath } from "@utils/PathRelative";

const pageTitle = "My Astro Learning Blog";

const allPosts = AllPosts();
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <BlogPost url={post.id} title={post.title} pubDate={post.pubDate.toString().slice(0,10)}/>
        </li>
      ))
    }
  </ul>
</BaseLayout>
