---
import Social from "./Social.astro";

const ASTRO_VERSION = Astro.generator;

---

<footer>
  <Social platform="twitter" username="harryitc" />
  <Social platform="github" username="harryitc" />
  <Social platform="youtube" username="harryitc" />
  <div>
    <strong>{ ASTRO_VERSION }</strong>
  </div>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
