---

import { PROCESS_ENV } from "@configs/process-env";
import type {IMenu } from "@interfaces/Menu.interface";
import { MyPath } from "@utils/PathRelative";

const Menus: IMenu[] = [
  { url: MyPath(""), name: "Home" },
  { url: MyPath("about"), name: "About" },
  { url: MyPath("blog"), name: "Blog" },
  { url: MyPath("tags"), name: "Tags" },
];
---

<div class="nav-links">
  {
    Menus.map((menu: IMenu) => {
      return <a href={menu.url}>{menu.name}</a>;
    })
  }
</div>
